extend ../layout
block content
	include ../includes/topbar
	include ../includes/leftNavbar
	.container#main
		.row
			.yue-main-content
				.yue-content
					each item in articles
						.col-md-6.col-lg-6
							.yue-content-post
								.user-info
									a(href="/userhome/#{item.author._id}" target="_blank")
										img(src='#{item.author.avatar}').user-logo
										span.user-name #{item.author.name}
									span.post-time #{moment(item.meta.updateAt).startOf('hour').fromNow()}
								.article-title
									a(href="/post/#{item._id}" target="_blank") #{item.title}
								a.img-box(href="/post/#{item._id}")
									img.img(src="/images/post-img-1.jpg")
								.post-footer
									a(href="") 
										span 阅读
										span (#{item.pv})
									a(href="") 
										span 评论
										span (#{item.commentCount})
									a(href="") 
										span 分享
									a(href="") 
										span.glyphicon.glyphicon-heart.icon-heart
			.fixed-icon-pen
				a(href="/write")
					span.glyphicon.glyphicon-pencil.icon-pen
	script(src='/libs/requirejs/require.min.js' defer async="true")
	script(src='/libs/requirejs/require.min.js' data-main='/js/main')