doctype
html(lang="zh-CN")
	head
		meta(charset = "utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title}
		link(href = '/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href = '/style/TopNavbar.css', rel='stylesheet')
		link(href = '/style/post.css', rel='stylesheet')
	body
		// top header 
		.container.top-nav.header
			.col-xs-10.col-sm-10.col-md-10.md-layout.no-padding
				.drawer-btn
					svg(width="24px" height="24px" viewBox="0 0 48 48")
									path(d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z")
				.yue-navbar
					a(href='/')
						span.yue-logo-title 悦读
			.col-xs-2.col-sm-2.col-md-2.md-layout.no-padding
				nav.nav-group
					if user
						li.flex-box.vertical-center
							a(href="/userhome/#{user._id}").avatar
								img(src="#{user.avatar}")
						li.user-car
							.user-car-inner
								.user-car-top
									a(href="/userhome/#{user._id}" target="")
										img(src="#{user.avatar}")
									.user-meta
										a(href="/userhome/#{user._id}" target="")
											span.user-name #{user.name}
										//br
										//a(href="" target="").user-post
											span 文章数 #{user.wirteCount}
								.user-car-footer
									a(href="/write" target="_self") 
										i.glyphicon.glyphicon-pencil
										span 写文章
									a(href="/logout" target="_self") 
										i.glyphicon.glyphicon-log-out
										span 登出
					else
						li.flex-box.vertical-center
							a#register(href="/signup" target="_blank") 注册
						li.flex-box.vertical-center
							a#login(href="/signin" target="_blank") 登录 
		// content
		.container.article-wrap
			header.row.author-info
				section.col-md-2.col-xs-2
					a(href="/userhome/#{author._id}" target='_blank').avatar
						img(src="#{author.avatar}")
				section.col-md-8.col-xs-8.about
					//h3.author 小悦
					h3.author #{author.name}
					p 天马行空无逻辑，温柔而孤独，懒散又认真.
				section.col-md-2.col-xs-2.follow
					a(href="")
						span.glyphicon.glyphicon-plus.add-icon
						span 关注
			h1.title #{article.title}
			.meta-article
				//a(href="").author-name
					span 小悦
				span.meta-item.readed
					span.glyphicon.glyphicon-eye-open.meta-icon
					span 阅读
					span.all-num #{article.pv}
				span.meta-item.collection
					span.glyphicon.glyphicon-star.meta-icon
					span 收藏
					span.all-num 200
				span.meta-item
					span.glyphicon.glyphicon-comment.meta-icon
					span 评论
					span.all-num #{comments.length}
				span.meta-item
					span.glyphicon.glyphicon-time.meta-icon
					span #{moment(article.meta.createdAt).format('YYYY-MMM-DD, h:mm:ss a')}
			.show-content
				.img
					img(src="/images/post-cover.jpg")
				article#text
					!{article.html}
				.meta-bottom
					.col-md-8
						.share-link
							//span.glyphicon.glyphicon-send
							//span 分享到: 
							//a(href="").share-item
					.col-md-4.text-right
						a(href="").btn-collection
							span.glyphicon.glyphicon-star
							span  收藏
			.comment
				.comment-content
					.comment-item
						each item in comments
							.commenter-info
								a(href="").user-logo
									img(src="#{item.from.avatar}")
								a(href="") #{item.from.name}
							.content
								p #{item.content}
							.comment-footer.text-right
								span
									span.comment-time #{moment(item.meta.createAt).format('YYYY-MMM-DD HH:mm:ss')}
								a(href="")
									span.glyphicon.glyphicon-heart.icon-font
									span.good 赞
								a.reply-comment(href="#comments", data-cid="#{item._id}", data-tid="#{item.from._id}")
									span.respond 回复
							hr
							if item.reply && item.reply.length > 0
								each reply in item.reply
									.reply-container
										.commenter-info
											//a(href="").user-logo
												img(src="#{reply.from.avatar}")
											a(href="/userhome/#{reply.from.id}" target="_blank").commenter-name #{reply.from.name}: 
											a(href="/userhome/#{reply.to.id}" target="_blank").commenter-name @#{reply.to.name}
										.content
											p #{reply.content}
										.comment-footer.text-right
											span
												span.comment-time 2015-12-31 23:42
											a(href="")
												span.glyphicon.glyphicon-heart.icon-font
												span.good 赞
											//a.reply-comment(href="#comments", data-cid="#{item._id}", data-tid="#{item.from._id}")
												span.respond 回复
									hr
				#comments
					.comment-head
						.hide-area
							form#commentForm(method="POST", action="/user/comment")
								input(type="hidden",name="comment[article]",value="#{article._id}")
								if user
									input(type="hidden", name="comment[from]", value="#{user._id}")
								.form-group
									textarea(name="comment[content]").commet-text
								if user
									input.btn.btn-primary.comment-btn(type="submit" value="发表")
								else
									a.navbar-link(href="/signin", data-toggle="modal", data-target="#signinModal") 登录后评论
						span.add-comment
							span.glyphicon.glyphicon-pencil
							span 添加评论
	script(src='/libs/requirejs/require.min.js' defer async="true")
	script(src='/libs/requirejs/require.min.js' data-main='/js/post')
	scruot(src='/libs/jquery/dist/jquery.min.js')

