doctype
html(lang="zh-CN")
	head
		meta(charset = "utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title}
		link(href = '/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href = '/style/userhome.css', rel='stylesheet')
	body
		.header
			nav
				li
					a(href='/')
						span.glyphicon.glyphicon-home
						span 返回主页
		.container
			.col-md-3
				.side
					li.side-top
						a.avatar
							img(src="#{user.avatar}")
						.user-info
							span #{user.name}
							h6 天马行空无逻辑，温柔而孤独，懒散又认真.
					li.user-data
						span  写了10000字
						span 文章 #{user.writeCount}
						span 收藏 9
			.col-md-9
				.main
					each item in result
						.post-item
							.content
								.wrap
									.img
										a(href='/post/#{item._id}')
											span.hoverwrap
												span.hoverlayer
													span.hoverbg
													span.info 
														span.date #{moment(item.meta.createAt).format('YYYY-MM-DD')}
												span
													img(src="#{item.imgList}")
								.text
									h5 #{item.title}
									.article-info
										span.group
											span.glyphicon.glyphicon-eye-open
											span&nbsp 阅读 #{item.pv}
										span.group
											span.glyphicon.glyphicon-comment
											span&nbsp 评论 #{item.commentCount}