extends ../layout
block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th.text-center 用户名
						th.text-center 创建时间
						th.text-center 查看用户信息
						th.text-center 删除用户
				tbody
					each item in users
						tr(class="item-id-#{item._id}")
							td.text-center #{item.name}
							td.text-center #{moment(item.meta.updateAt).format('YYYY-MM-DD HH:mm:ss')}
							td.text-center: a(target="_blank",href="/userhome/#{item._id}")查看
							td.text-center
								button.btn.btn-danger.del(type="button",data-id="#{item._id}")删除
	script(src="/libs/jquery/dist/jquery.min.js")
	script(src='/js/admin.js')
